.git
.gitignore
.env
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.vscode
.idea

Dockerfile
Dockerfile.python
compose.yaml
proxy.yaml
README.md
LICENSE
schema.pdf

haproxy
nginx
